<div class="container-fluid">
  <div  class="form-group">
    <label class="col-md-3 control-label">Recipe Title: </label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="recipeTitle" [(ngModel)]= "testRecipe.recipeTitle" placeholder="name"/> 
   </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Ingredients:</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Instructions</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Calories:</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Protein (g):</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Fat (g):</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Carbyhydrates (g):</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Sugars (g):</label>
    <div class="col-md-9" style="Width:auto">
      <input type="text" class="form-control" />
    </div>
  </div>
</div>


<div class="form-group">
  <button type="submit" allign="center" (click)= "createRecipe()"><span>Submit</span></button>
</div>



